@model SV22T1020494.Models.Common.PagedResult<SV22T1020494.Models.Partner.Shipper>
@{
    Layout = null;
}

<div class="mb-2 text-muted">
    Danh sách này có <strong>@Model.RowCount</strong> người giao hàng
</div>

<div class="card">
    <div class="card-body p-1">
        <div class="table-responsive">
            <table class="table table-bordered table-hover mb-0 align-middle">
                <thead class="table-secondary">
                    <tr>
                        <th>Tên người giao hàng</th>
                        <th style="width:140px;">Điện thoại</th>
                        <th class="text-center" style="width:100px;">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DataItems != null && Model.DataItems.Any())
                    {
                        foreach (var item in Model.DataItems)
                        {
                            <tr>
                                <td>@item.ShipperName</td>
                                <td>@item.Phone</td>
                                <td class="text-center text-nowrap">
                                    <a href="~/Shipper/Edit/@item.ShipperID" class="btn btn-sm btn-primary me-1" title="Sửa">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a href="~/Shipper/Delete/@item.ShipperID" class="btn btn-sm btn-danger" title="Xóa">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">Không có dữ liệu</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <ul class="pagination justify-content-center">
            @foreach (var p in Model.GetDisplayPages())
            {
                if (p.IsCurrent)
                {
                    <li class="page-item active"><a class="page-link">@p.Page</a></li>
                }
                else if (p.IsEllipsis)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                }
                else
                {
                    <li class="page-item ">
                        <a class="page-link" href="javascript:;" onclick="paginationSearch(event, document.getElementById('formSearch'), @p.Page)">@p.Page</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
